In [1]:
import json
import pandas as pd

In [2]:
# Load the JSON file
with open("./00_Downloaded/20230816.json", "r") as file:
    data = json.load(file)

In [3]:
# Extracting and flattening messages from all conversations in the list
all_messages = []

In [4]:
for conversation in data:
    mapping = conversation.get('mapping', {})
    for key, value in mapping.items():
        message_data = value.get('message', {})
        if message_data:
            all_messages.append({
                'id': message_data.get('id', None),
                'author_role': message_data.get('author', {}).get('role', None),
                'create_time': message_data.get('create_time', None),
                'content': message_data.get('content', {}).get('parts', [None])[0],
                'status': message_data.get('status', None),
                'parent': value.get('parent', None)
            })

In [5]:
# Convert the list of dictionaries into a DataFrame
df_messages = pd.DataFrame(all_messages)

In [6]:
df_messages.head()

,id,author_role,create_time,content,status,parent
0,b0655646-af01-4f78-81d0-7f0b799be5ca,system,NaN,,finished_successfully,1F583269-E02E-49B6-9BDB-AF72858F4330
1,f51bf072-2a25-4f6d-afa4-a779d49f6de0,user,1.692110e+09,I want to grant access to user in ms sql that ...,finished_successfully,b0655646-af01-4f78-81d0-7f0b799be5ca
2,8ac9ee2a-ddf7-44d2-8f64-71c3653c6f54,assistant,1.692110e+09,"In Microsoft SQL Server, if you want a user to...",finished_successfully,f51bf072-2a25-4f6d-afa4-a779d49f6de0
3,1422d334-d1df-419b-a1be-2ed251f0485d,user,1.692110e+09,But i want to grant the access to that user to...,finished_successfully,8ac9ee2a-ddf7-44d2-8f64-71c3653c6f54
4,d9cbf9ec-d71a-4391-b8e9-5fe21a1d6e99,assistant,1.692110e+09,If you want to grant the `VIEW DEFINITION` per...,finished_successfully,1422d334-d1df-419b-a1be-2ed251f0485d

In [7]:
df_messages# Save the DataFrame to a CSV file (optional)
df_messages.to_csv("./01_To_CSV/20230816.csv", index=False)