In [31]:
import sqlite3
import pandas as pd

In [32]:
conn = sqlite3.connect('/Users/hossamtabana/Library/Mobile Documents/com~apple~CloudDocs/Hossam_files/01_Developer/00_Vscode_2/file_changes.db')
cursor = conn.cursor()

In [33]:

# Check if the table exists
cursor.execute("SELECT name FROM sqlite_master WHERE type='table' AND name='db_track';")
if not cursor.fetchone():
    print("Table db_track does not exist in the database!")
else:
    df = pd.read_sql_query("SELECT * FROM db_track", conn)
    #print(df)

In [34]:
conn.close()

In [35]:
df

,id,timestamp,file,event_type
0,1,1.694727e+09,/Users/hossamtabana/Downloads/track/export.csv,modified
1,2,1.694727e+09,/Users/hossamtabana/Downloads/track/track.numbers,modified
2,3,1.694727e+09,/Users/hossamtabana/Downloads/track/track.numbers,modified
3,4,1.694727e+09,/Users/hossamtabana/Downloads/track/export.csv,modified
4,5,1.694727e+09,/Users/hossamtabana/Downloads/track/export.csv,modified
5,6,1.694727e+09,/Users/hossamtabana/Downloads/track/F0DFB3E5.tmp,modified
6,7,1.694727e+09,/Users/hossamtabana/Downloads/track/export.csv,modified
7,8,1.694727e+09,/Users/hossamtabana/Downloads/track/export cop...,modified
8,9,1.694728e+09,/Users/hossamtabana/Downloads/track/export cop...,modified
9,10,1.694728e+09,/Users/hossamtabana/Downloads/track/.DS_Store,modified
10,11,1.694728e+09,/Users/hossamtabana/Downloads/track/.DS_Store,modified
11,12,1.694728e+09,/Users/hossamtabana/Downloads/track/.DS_Store,modified
12,13,1.694728e+09,/Users/hossamtabana/Downloads/track/hossam/exp...,modified
13,14,1.694728e+09,/Users/hossamtabana/Downloads/track/hossam/exp...,modified

In [36]:
df['timestamp'] = pd.to_datetime(df['timestamp'], unit='s')
df

,id,timestamp,file,event_type
0,1,2023-09-14 21:22:04.728706048,/Users/hossamtabana/Downloads/track/export.csv,modified
1,2,2023-09-14 21:22:38.930230016,/Users/hossamtabana/Downloads/track/track.numbers,modified
2,3,2023-09-14 21:22:38.942993920,/Users/hossamtabana/Downloads/track/track.numbers,modified
3,4,2023-09-14 21:25:24.655086080,/Users/hossamtabana/Downloads/track/export.csv,modified
4,5,2023-09-14 21:25:31.762697984,/Users/hossamtabana/Downloads/track/export.csv,modified
5,6,2023-09-14 21:25:46.094062080,/Users/hossamtabana/Downloads/track/F0DFB3E5.tmp,modified
6,7,2023-09-14 21:30:29.847579904,/Users/hossamtabana/Downloads/track/export.csv,modified
7,8,2023-09-14 21:30:32.282948096,/Users/hossamtabana/Downloads/track/export cop...,modified
8,9,2023-09-14 21:38:35.169507072,/Users/hossamtabana/Downloads/track/export cop...,modified
9,10,2023-09-14 21:43:21.751895040,/Users/hossamtabana/Downloads/track/.DS_Store,modified
10,11,2023-09-14 21:44:35.425419008,/Users/hossamtabana/Downloads/track/.DS_Store,modified
11,12,2023-09-14 21:44:36.133492992,/Users/hossamtabana/Downloads/track/.DS_Store,modified
12,13,2023-09-14 21:44:36.190084096,/Users/hossamtabana/Downloads/track/hossam/exp...,modified
13,14,2023-09-14 21:48:13.749296128,/Users/hossamtabana/Downloads/track/hossam/exp...,modified